.backgroundapp
{
    width: 100%;
    height: 100vh;
    background-color: blue;
}


.addbutton{
    background-color: transparent;
    border:  1px solid #FFF;
    padding:  10px 15px;
    color: #FFF; 
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;  
}

.inputbox{
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid blue;
}

p {
    color: blue;
    background-color: #FFF;
    padding: 10px 20px;
}

